body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
    
      main{
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
        justify-content: space-evenly;
      }
    
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    
    
    .form-container h2 {
      font-size: 18px;
      margin-top: 10px;
    }
    
    
    .form-container input {
      width: 95%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
  
    
    nav{
      top: 0;
      font-size: 17px;
      background-color: #f7f4ed;
      width: 1550px;
      height: 60px;
      filter: drop-shadow(0px 1px 1px #aeaeae);
      position: fixed;
      z-index: 1;
    }
  
    
    nav ul{
      list-style: none;
      margin: 0px 15px 50px;
      padding: 1px 0px;
    }
    
    nav li{
      display: inline;
      padding-right: 20px;
    }
  
  
  .video-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-evenly;
  }
  
  .video {
      width: 300px;
      margin: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: inline-block;
      overflow: hidden;
  }
  
  .tela {
      width: 100%;
      height: auto;
  }
  
  .video-info {
      padding: 10px;
  }
  
  h3 {
      margin-top: 0;
  }
  
  p {
      margin-bottom: 0;
  }